.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-25 {
    margin: 25%;
}